@model LDInsurance.Models.TransactionHistory

@{
    ViewData["Title"] = "Thanks";
}

<div class="container" style="height:610px">
    <h2 style="color: green">Thank you</h2>
    <h3 style="color: green">Wish you a good day ♥</h3>
    <h4><a asp-controller="Insurances" asp-action="Index">Continue ?</a></h4>
</div>