@model LDInsurance.Models.Testimonial

@{
    ViewData["Title"] = "Say";
}

<div class="container" style="height:610px">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Say">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control" placeholder="Say something..."></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Enter" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
