@model LDInsurance.Models.InsuranceRegistration

@{
    ViewData["Title"] = "Pay";
}

<div class="container" style="height:610px">
    <table style="font-size:25px">
        <tr>
            <td style="width:300px"><label for="Name">Bank:</label></td>
            <td>
                <select name="cars" id="cars">
                    <option value="vietcombank">Vietcombank</option>
                    <option value="dongabank">Dong A Bank</option>
                    <option value="techcombank">Techcombank</option>
                    <option value="sacombank">Sacombank</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="Name">Fullname:</label></td>
            <td><input name="Name" class="form-control mr-sm-2" type="text" placeholder="Your name..." style="width:400px" /></td>
        </tr>
        <tr>
            <td><label for="Name">Bank card number:</label></td>
            <td><input name="Name" class="form-control mr-sm-2" type="text" placeholder="Your card number..." style="width:400px" /></td>
        </tr>
        <tr>
            <td><br><a href="#" data-toggle="modal" data-target="#success" class="nav-link" style="color:000055">Pay</a></td>
        </tr>
    </table>
</div>

<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thank you very much</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Thank you and see you again in other transactions ♥</div>
            <div class="modal-footer">
                <a data-target="#success" class="btn btn-primary" style="background-color: greenyellow; border-color:greenyellow; color:green" asp-area="" asp-controller="InsuranceRegistrations" asp-action="Pay">Okay</a>
            </div>
        </div>
    </div>
</div>