@model LDInsurance.Models.Account

@{
    ViewData["Title"] = "Edit";
}



<div class="container-fluid" style="height:610px">
    <div class="col-3" style="margin:0 auto; height: 370px; border: solid 3px; border-color: greenyellow; padding-top:20px">
        <div class="col-11" style="margin:0 auto">
            <div style="margin:0 auto; color:green; font-size:20px; text-align:center">You can change information</div>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SSN" class="control-label"></label>
                    <input asp-for="SSN" class="form-control" />
                    <span asp-validation-for="SSN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
