@model LDInsurance.Models.Account

@{
    ViewData["Title"] = "Login";
}

<div class="alert-danger hide" style="text-align: center">
    @ViewBag.ErrorMess
</div>

<div class="container-fluid" style="height:610px">
    <div class="col-5" style="margin:0 auto; height: 50px">
        <p style="text-align:center; font-size:30px; color: forestgreen">Welcome</p>
    </div>
    <div class="col-3" style="margin:0 auto; height: 350px; border: solid 3px; border-color: greenyellow; padding-top:20px">
        <div class="col-11" style="margin:0 auto">
            <div style="margin:0 auto; color:green; font-size:20px; text-align:center">Please Enter Your Account</div>
            <form asp-action="Login">
                <div class="form-group">
                    <input asp-for="Username" class="form-control" placeholder="Username..." required />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Password..." required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block" style="background-color:greenyellow; color:green"><i class="fa fa-key"></i> Login</button>
                </div>
            </form>
            <img src="~/img/logo.png" width="100%" />
        </div>
    </div>
    <div class="col-3" style="margin:0 auto; height: 70px; background-color: greenyellow; text-align: center">
        <p style="font-size: 30px; color: green"><a asp-action="Register">I want to register</a> <i style="font-size: 30px; color: green" class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
    </div>
</div>