@model LDInsurance.Models.Account


@{
    ViewData["Title"] = "Sitemap";
}

<div class="container" style="height:610px">
    <div class="row">
        <div class="col-6" style="font-size:20px">
            <h2 style="color:green">Account</h2>
            <a asp-controller="Accounts" asp-action="Login">Login</a><br /><br />
            <a asp-controller="Accounts" asp-action="Register">Register</a><br /><br />
            <a asp-controller="Accounts" asp-action="Index" asp-route-id="">Information</a><br />
            <a asp-controller="Accounts" asp-action="Edit" asp-route-id=""> - Edit</a><br />
            <a asp-controller="Accounts" asp-action="ChangePass" asp-route-id=""> - Change password</a><br /><br />
            <a asp-controller="Vehicles" asp-action="Index" asp-route-id="">Vehicles <i class="fa fa-car"></i></a><br />
            <a asp-controller="Vehicles" asp-action="Register" asp-route-id=""> - Vehicle registration</a><br /><br />
            <a asp-controller="Reports" asp-action="Index" asp-route-id="">Reports</a><br />
            <a asp-controller="Reports" asp-action="Write" asp-route-id=""> - Write a report</a><br /><br />
            <a asp-controller="InsuranceRegistrations" asp-action="Index" asp-route-id="">Insurances</a><br /><br />
            <a asp-controller="TransactionHistories" asp-action="Index" asp-route-id="">Transaction histories</a>
        </div>
        <div class="col-6" style="font-size:20px">
            <h2 style="color:green">Insurances</h2>
            <a asp-controller="Insurances" asp-action="Index">Insurance list</a><br />
            <a asp-controller="InsuranceRegistrations" asp-action="Register"> - Insurance registrations</a><br /><br /><br /><br />
            <h2 style="color:green">Other</h2>
            <a asp-controller="Home" asp-action="Index">Home</a><br /><br />
            <a asp-controller="Testimonials" asp-action="Index">Testimonials</a><br />
            <a asp-controller="Testimonials" asp-action="Say"> - Say something</a><br /><br />
            <a asp-controller="Home" asp-action="Contact">Contact us</a><br />
        </div>
    </div>
</div>