@{
    ViewData["Title"] = "Contact";
}

<div class="container-fluid" style="background-image: url(../img/bg2.jpg); height: 500px">
</div>

<div class="container-fluid">
    <div class="row" style="margin-top: 75px; padding: 25px">
        <div class="col-4" id="hover1">
            <p style="font-size:30px; text-align:center"><i class="fas fa-phone"></i> - 0988817042</p>
        </div>
        <div class="col-4" id="hover1">
            <p style="font-size:30px; text-align:center"><i class="fas fa-envelope"></i> - ldinsurance@gmail.com</p>
        </div>
        <div class="col-4" id="hover1">
            <p style="font-size:30px; text-align:center"><i class="fas fa-map-marker-alt"></i> - TP.HCM</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="gmap_canvas">
        <iframe width="100%" height="500px" id="gmap_canvas" src="https://maps.google.com/maps?ll=10.773922,106.6894049&q=264A Nguyễn Thị Minh Khai&t=&z=14&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
</div>

<hr />

<div class="container">
    <p style="text-align:center; color:green ;font-size:30px; font-family: Comic Sans MS , Lucida Sans Unicode , sans-serif">
        About us
    </p>
</div>

    <div class="container">
        <div class="row">
            <div class="col-4" style="background-color:greenyellow">
                <img src="~/img/avatar.jpeg" style="width:100%" />
                <p style="text-align:center; color:green ;font-size:20px; font-family: Comic Sans MS , Lucida Sans Unicode , sans-serif">
                    <b>Nguyen Van A</b><br />
                    <b>Manager</b>
                </p>
                <p style="font-size:20px; color:green; font-family: Comic Sans MS , Lucida Sans Unicode , sans-serif">
                    Thank you very much for your support, we always want to give you the best services so that you can have the most comfortable attitude.
                </p>
            </div>
            <div class="col-4">
                <img src="~/img/avatar.jpeg" style="width:100%" />
                <p style="text-align:center; color:green ;font-size:20px; font-family: Comic Sans MS , Lucida Sans Unicode , sans-serif">
                    <b>Nguyen Van A</b><br />
                    <b>Manager</b>
                </p>
                <p style="font-size:20px; color:green; font-family: Comic Sans MS , Lucida Sans Unicode , sans-serif">
                    Thank you very much for your support, we always want to give you the best services so that you can have the most comfortable attitude.
                </p>
            </div>
            <div class="col-4" style="background-color:greenyellow">
                <img src="~/img/avatar.jpeg" style="width:100%" />
                <p style="text-align:center; color:green ;font-size:20px; font-family: Comic Sans MS , Lucida Sans Unicode , sans-serif">
                    <b>Nguyen Van A</b><br />
                    <b>Manager</b>
                </p>
                <p style="font-size:20px; color:green; font-family: Comic Sans MS , Lucida Sans Unicode , sans-serif">
                    Thank you very much for your support, we always want to give you the best services so that you can have the most comfortable attitude.
                </p>
            </div>
        </div>
    </div>
    <hr />
