<div class="container-fluid" style="background-color: greenyellow">
    <div class="row">
        <div class="col-3"><img src="~/img/logo.png" height="50px" /></div>
        <div class="col-3" style="margin-top: 10px"><p style="font-size:20px"><i class="fa fa-phone-square"></i> 0988745632</p></div>
        <div class="col-3" style="margin-top: 10px"><p style="font-size:20px"><i class="fa fa-building"></i> Republic Street, Ward 2, Ho Chi Minh City</p></div>
    </div>
</div>