@using Microsoft.AspNetCore.Http
@{
    string name = ViewBag.CurrentUser;
}
<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <!--..................Menu.....................-->
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item pr-5"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" style="color:000055"><i class="fa fa-home"></i> Home</a></li>
            <li class="nav-item pr-5"><a class="nav-link" asp-area="" asp-controller="Insurances" asp-action="Index" style="color:000055"><i class="fa fa-file"></i> Insurances</a></li>
            <li class="nav-item pr-5"><a class="nav-link" asp-controller="Accounts" asp-action="Sitemap" style="color:000055"><i class="fa fa-sitemap"></i> Sitemap</a></li>
            <li class="nav-item pr-5"><a class="nav-link" asp-controller="Testimonials" asp-action="Index" style="color:000055"><i class="fa fa-comment"></i> Testimonials</a></li>
            <li class="nav-item pr-5"><a class="nav-link" asp-controller="Home" asp-action="Contact" style="color:000055"><i class="fa fa-building"></i> Contact Us</a></li>

        </ul>
        <form class="form-inline ml-auto">
            <button class="btn" type="button">
                <a asp-area="" asp-controller="Accounts" asp-action="Index"><i class="fa fa-user-circle" style="color:000055; font-size: 30px;"></i></a>
            </button>
        </form>
    </div>

</nav>