<div class="container-fluid" style="background-color: greenyellow">
    <div class="row">
        <div class="col-3"><img src="~/img/logo.png" height="50px" /></div>
        <div class="col-3" style="margin-top: 10px"><h3>Hotline: 0988745632</h3></div>
        <div class="col-3" style="margin-top: 10px"><h5>Compamy: Republic Street, Ward 2, Ho Chi Minh City</h5></div>
    </div>
</div>